{
  "type": "top secret",
  "project_id": "top secret",
  "private_key_id": "top secret",
  "private_key": "top secret",
  "client_id": "top secret",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "top secret",
  "universe_domain": "googleapis.com"
}
